<div class="container">
  <div class="row">
    <div class="col-md-12 mt-4 text-center">
      <div class="alert alert-success" >
        Thankyou <%=@user.first_name%> payment successfull
      </div>
    </div>
  </div>
</div>
<%=link_to "GOBACK " ,root_path ,class:"btn btn-default btn-lg"%>
