<h3 style= "text-align:center;color:SlateBlue;">Welcome To Admin Panel </h3>
<div class="container">
  <div class="jumbotron">
    <div class ="action">
      <div class="card">
        <div class= "card-body">
          <div style="text-align:center">
            <%= link_to 'View Oprators', admin_view_oprators_path, class: "btn btn-primary", id: "view-oprator"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="jumbotron">
    <div class ="action">
      <div class="card">
        <div class= "card-body">
          <div style="text-align:center">
            <%= link_to 'View users', admin_view_users_path, class: "btn btn-primary"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
