<h1>this is admin index page </h1>
<div class ="action">
  <%= link_to 'View Oprators', admin_view_oprators_path, class: "btn btn-primary btn-md", id: "view-oprator"%>
</div>
<div class ="action">
  <%= link_to 'View users', admin_view_users_path, class: "btn btn-primary btn-md"%>
</div>
